services:
  app:
    build: .
    volumes:
      - ./:/app
    ports:
      - "8080:8080"
    env_file: .env
    command: ["flask", "run", "-h", "0.0.0.0", "-p", "8080", "--debug"]
  db:
    image: postgres
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=app
    command: ["postgres", "-c", "log_statement=all"]
